<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Which provider? -->
    <add key="provider" value="SqlServer"/>
    <!-- Which connection string? -->
    <add key="cnStr" value="server = (local)\myserver;integrated security = true;database = northwind"/>
    <!-- Provider for DataProviderfactoryExample -->
    <add key="fullSqlProvider" value="System.Data.SqlClient"/>
    <!-- Provider for DataProviderfactoryExample -->
    <add key="fullOLEProvider" value="System.Data.OleDb"/>
  </appSettings>
  <connectionStrings>
    <!-- Which connection string? -->
    <add name="SqlDBProviderNorthwind" connectionString="server = (local)\myserver;integrated security = true;database = northwind"/>
    <add name="OleDbProviderNorthwind" connectionString="provider = sqloledb;data source = (local)\myserver;integrated security = sspi;initial catalog = northwind"/>
  </connectionStrings>  
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
